<%= @topic.title %><br>
<%= @topic.body %><br>
<%= @topic.author %><br>
<%= @topic.created_at %><br>

<% @topic.posts.each do |post| %>
<%= post.body %>
<% end %>

<div class="post">
  <%= link_to "Post", new_post_path %>
</div>