<%= @topic.title %><br>
<%= @topic.body %><br>
<%= @topic.author %><br>
<%= @topic.created_at %><br>

<% Post.where(topic_id: @topic.id).each do |post| %>
<%= post.body %>
<% end %>

<div class="post">
  <%= link_to "Post", topic_posts_path(@topic) %>
</div>