<%= form_for @post do |f| %>
  <%= f.label :topic_id, "Topic:" %>
  <%= f.collection_select :topic_id, Topic.all, :id, :title, :prompt => true %><br /><%= @post.errors[:topic_id].join(',') %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br /><span class="error"><%= @post.errors[:title].join(',') %></span><br />
  <%= f.label :body %>:
  <%= f.text_area :body %><br /><%= @post.errors[:body].join(',') %><br />
  <%= f.label :author %>:
  <%= f.text_field :author %><br /><%= @post.errors[:author].join(',') %><br />
  <%= f.submit %>
<% end %>
